[Unit]
Description=Wiki.js
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node server
Restart=always
# Consider creating a dedicated user for Wiki.js here:
User={{ wikijs_user }}
Environment=NODE_ENV=production
WorkingDirectory={{ wikijs_folder }}/wiki

[Install]
WantedBy=multi-user.target